<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <img src ="https://www.pngitem.com/pimgs/m/272-2720656_user-profile-dummy-hd-png-download.png" width = "100px">
        </div>
        <div class="col-sm">
            <div class="row">
                <%= @current_user[:first_name] %> <%= @current_user[:last_name] %>
            </div>
            <div class="row">
                Member since <%= @current_user[:creation_date][0,4] %>   
            </div>
            <div class="row">
                Number of journal entries <%= @logs_table.where(user_id: @current_user[:user_id]).count %>
            </div> 
        </div>    
        <div class="col-lg">
        </div>
    </div>
    <div class="row">
        <a href = "/users/logs/new" type="button" class="btn btn-primary">New log entry</a>
    </div>
    <div class="row">
        <table class="table mt-5">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Trail</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Distance</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            <tbody>
                <% row = 1 %>
                <% user_logs = @logs_table.where(user_id: @current_user[:user_id]) %>
                <% for log in user_logs do %>
                <tr>
                    <th scope="row"><%= row %></th>
                    <td><%= @trails_table.where(trail_id: log[:trail_id]).to_a[0][:trail_name] %></td>
                    <td><%= log[:duration] %></td>
                    <td><%= log[:distance] %></td>
                    <td><%= log[:notes] %></td>
                </tr>
                <% row = row + 1 %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>


